[core]
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = zhanghaolong
	email = zhanghaolong@megvii.com
[color]
	ui = auto
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
