[core]
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore_global
[user]
	name = zhanghaolong
	email = zhanghaolong@jiigan.com
[color]
	ui = auto
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
